.media {
    height: 85%;
    width: 85%;
    object-fit: contain
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.buttons {
    margin-top: 10px;
}

.container {
    text-align: center;
    height: 100vh;
}

@media screen and (orientation:portrait) {
    .button {
        font-size: 35px;
    }

    .media {
        height: 90%;
        width: 90%;
    }
}